@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,700&family=Work+Sans:ital,wght@0,200;0,400;0,600;0,800;0,900;1,400;1,500&display=swap');


:root{
    --background-color:rgba(255, 144, 14, 0.1);
    --text-color: #727272;
    --btn-background: #FF900E;

    --btn-color: #FFFFFF;



}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: Work Sans,sans-serif;
    margin: 0 auto;
    
}

    

.btn{
    background-color: var(--btn-background);
    color: var(--btn-color);
    border: none;
    padding: 1.2rem;
    border-radius: 8px;
    margin: .5rem;
}
 .header-section{
    background-color: var(--background-color); 
    
}
.nav{
    width: 100%;
    max-width: 1200px;
    height: 4rem;
    margin: 0 auto;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;
}
.nav-section ul{
    display: flex;
    list-style: none;

    
}

.banner-section{
    background-color: var(--background-color);
}

.header-section ul li{
    margin-left: 3rem;
}
.banner{
    width: 100%;
    max-width: 1200px;
    height:50rem ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    
    
}
/* .banner > div{
    flex: 1;
} */
.banner .text{
    width: 100%;
    height: 30%;
}
.banner.image{
    width: 100%;
    height: 70%;
}
.banner .text{
    
    transform: translateX(100%);
     width: 25rem;
    padding: 2rem 0;
    
    text-align: center;
}
.text p{
    color:var(--text-color) ;
    margin: 1rem 0;
}
.image img{
    overflow: hidden;
    width: 100%;
    height: 70%;
    margin-top: 4rem;
    border-radius: 8px;
    padding: 1.5rem 0;
}
.gallary-section{
    display: flex;
}
.gallary-section > div{
    flex: 1;
}
.gallary-photo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .8rem;
    padding: 4rem;
}
.right-text{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    padding: 4rem;}
 .right-text h4{
    margin: .7rem 0;
    color: var(--text-color);
 }   
 .right-text .span-1{
    color: black;
 } 
 .right-text .span-2{
    color: var(--btn-background);
 }
.right-text p{
    color: var(--text-color);
    margin: 1rem 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;


}  
.right-text .btn-1{
    display: inline-block;
    width: 7rem;
    white-space: nowrap;
    margin-left: 0;
}

.article-section{
    display: flex;
    
    padding: 3.5rem;
    position: relative;
    
}
.article-section > div{
    flex: 1;
}

.article{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    
}
.article p{
    margin: 1rem 0;
    color: var(--text-color);
}
.verticle-line{
    border-left: 6px solid var(--btn-background);
    height: 45px;

}
.verticle-line h3{
    margin: 0 4px;
}
.photo-right img{
    width: 100%;
    height: 100%;
}
.btn-2{
    position: absolute;
    bottom: 1rem;
    left: 45%;
    width: 10rem;
    height: 5rem;
    background-color: var(--btn-background);
    color: var(--btn-color);
    border: 0;
    border-radius: 5px;
}
.some-facts{
    padding: 5rem 3.5rem;
}
.facts{
    display: flex;
    justify-content: space-between;
    
}
.facts > div{
    padding: 1rem;
    border: 1px solid var(--btn-background);
    border-radius: 8px;
    text-align: center;
}



.some{
    margin: 3rem 0;
}
.some h3{
    margin: .8rem 0;
}
.some p{
    color: var(--text-color);
}
.facts .fact{
    
    transition: transform 0.5s,background-color 0.5s;
}
.facts .fact:hover{
    border: 1px solid green;
    background-color: aqua;
    transform: scale(1.25);
    cursor: pointer;
}
.fact p{
    color: var(--text-color);
}
.our-sponsor{
    padding: 3.5rem;
}
.sponsor{
    text-align: center;
    margin: 2rem 0;
}
.sponsor h3{
    margin: 1rem 0;
}

.sponsor p{
    color: var(--text-color);

}
.sponsor-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0;
}

.sponsor-image img{
    filter: grayscale(100%);
}
.footer{
    padding: 3.5rem;
}
.end-section{
    
    background-color: var(--background-color);
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.end-section p{
    color: var(--text-color);
}

